@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;700&family=Tajawal:wght@400;700;900&display=swap");
/* COMMON STYLES */
:root {
  --maincolor: #ffc527;
}
body {
  direction: rtl;
  text-align: right;
  font-family: "Tajawal", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ffc527;
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

.section__title {
  position: relative;
  display: inline-block;
}

.section__title::after {
  content: "";
  display: block;
  width: 120px;
  position: absolute;
  bottom: -10px;
  height: 5px;
  background-color: var(--maincolor);
}

/* Header ...............................................*/
.navbar {
  box-shadow: 1px 2px 5px #ebebeb;
}

/* Home Section ........................................*/
.home {
  height: 600px;
  background-image: url(../images/slide-bg-1.jpg);
  background-size: cover;
  padding: 1px;
}

.home-item {
  width: 50%;
  margin-right: auto;
  margin-top: 15%;
}

@media (max-width: 768px) {
  .home {
    height: 400px;
  }
  .home-item {
    width: 100%;
  }
}

.home-item h2 {
  font-size: 45px;
  color: #fff;
}

.home-item p {
  font-size: 20px;
  color: #fff;
}

/* Projects ..................................................*/
.projects__item p {
  margin: 50px 0;
}

.projects__item button {
  margin-bottom: 15px;
}

/* News .....................................................*/
.news {
  background-color: #f0f0f0;
}
.news .news--left,
.footer--left {
  display: flex;
  align-items: center;
}

.news .news--left img,
.footer--left img {
  max-width: 200px;
  margin-left: 10px;
}

/* Why Choose us ..........................................*/
.why__item {
  display: flex;
  padding: 50px 0;
}

.why__item img {
  max-width: 400px;
}

.why__item--desc {
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .why__item {
    display: block;
  }
  .why__item img {
    width: 100%;
    margin-bottom: 15px;
  }
}

.why__item--icon {
  display: flex;
}

.why__item--icon h3,
.why__item--icon p {
  margin-right: 50px;
}

.single-icon {
  background: #ffc527;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 100%;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  color: #fff;
  position: absolute;
}

/* Who we are ....................................................*/

.who-we-are {
  background-image: url(../images/who-we-are-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
  height: 600px;
}

.who-heading {
  color: #fff;
  font-size: 36px;
  text-align: center;
  text-shadow: 0 0 7px #333;
  font-weight: bold;
}

.who-video {
  padding: 100px 0;
  text-align: center;
}

.play-btn {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  display: inline-block;
  color: #ffc527;
  font-size: 70px;
  height: 140px;
  line-height: 140px;
  padding-left: 12px;
  text-align: center;
  width: 140px;
  transition: all 0.3s ease 0s;
}

.play-btn:hover {
  background-color: #ffc527;
  color: #fff;
}

@media (max-width: 768px) {
  .who-we-are {
    height: 400px;
  }

  .who-heading {
    font-size: 25px;
  }

  .play-btn {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    display: inline-block;
    color: #ffc527;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    padding-left: 12px;
    text-align: center;
    width: 90px;
    transition: all 0.3s ease 0s;
  }
}

/* Empty ...............................................*/
.empty {
  height: 200px;
  background-color: #fff;
}

/* Subscribe ...........................................*/
.subscribe {
  height: 450px;
  background-image: url(../images/subscribe-our-newsletter-bg.jpg);
  background-size: cover;
  position: relative;
}

.subscribe__item {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.subscribe__item h2 {
  font-size: 40px;
}

.subscribe__item .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe__item .form input {
  width: 80%;
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  border: medium none transparent;
  border-radius: 100px;
  height: 45px;
  padding: 0 20px;
}

.subscribe__item .form button {
  width: 15%;
  border: medium none transparent;
  border-radius: 100px;
  height: 45px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

@media (max-width: 768px) {
  .subscribe__item {
    width: 100%;
    padding: 5%;
  }

  .subscribe__item .form {
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  .subscribe__item .form input {
    width: 100%;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border: medium none transparent;
    border-radius: 0;
    height: 45px;
    padding: 0 20px;
  }

  .subscribe__item .form button {
    width: 100%;
    border: medium none transparent;
    border-radius: 0;
    height: 45px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }

}

/* Footer ..........................................................*/
footer {
  background-color: #071c33;
  color: #fff;
  padding: 70px 0;
}

.footer-menu ul li {
  margin-bottom: 7px;
}

.footer-img {
  background: #fff;
  margin: 0 0 10px;
  padding: 10px 20px;
}

.address-info span {
  display: block;
  color: #5d6d7e;
  margin-bottom: 5px;
}

.footer--left {
  font-size: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer--left img {
  max-width: 50px;
}

.footer--desc {
  line-height: 15px;
}

.footer--desc p {
  color: #ffc527;
}

.footer-social span {
  color: #5d6d7e;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
}

.input-group {
  direction: ltr;
}

.footer-social-icon {
  text-align: center;
}

.footer-social-icon li {
  display: inline-block;
  margin-left: 28px;
}

footer a:hover {
  color: #ae871b;
}

.footer--copyright {
  background-color: #04101e;
  color: #838d99;
  padding: 15px 0;
}

.copyright-left {
  text-align: left;
}
